.tombol {
  font-family  : sans;
  font-size    : 20px;
  text-align   : center;
  color        : ;
  padding      : 10px 10px;
  border       : 2px double orange;
  cursor       : pointer;
  border-radius: 10px;
  background   : linear-gradient(to top, red, orange);
  box-shadow   : 5px 5px 3px rgba(0,0,0,0.5);
  user-select  : none;
  margin       : auto;
  margin-top   : 20px;
  width        : 60px;
  height       : 60px;
  transition   : 1s;
}

.tombol:hover {
  border       : ;
  border-radius: 90px;
  background   : ;
  box-shadow   : ;
  transition   : 0.6s;
}
